*{
    margin:0;
}
body{
    margin: 0px;
    text-align: center;
    font-family: 'roboto','Times New Roman', Times,verdana, cursive, sans-serif;

}

h3, a{
    color:#11999E;
}
h1,h2{
    color: #66bfbf;;
}

/* TOP CONTAINER */
.topContainer{
    background-color: #bce6eb;
    position:relative;
    padding-top:0px;
    transition:color 3s ease 2s;
    margin:0 0 25px;
    height:100vh;
}
.topContainer h2{
    font-weight: normal;
}

h1{
    font-family: 'Poller One';
    font-size: 50px;
    line-height: 2;
}
h2{
    font-size: 2.5rem;
    font-weight: normal;
    letter-spacing: 1.5rem;
}
.spaceShip{
    width: 150px;
    position: absolute;
    left: 10%;
    top:50px;
    transition:all 2s linear;
}
.topCloud{
    position: absolute;
    right: 20%;
    top:25px;
    transition:opacity 2s ease-in 1s;
}
.bottomCloud{
    position: absolute;
    left:30%;
    transition:all 2s linear 1s;
    bottom: 300px;
    opacity: 0.9;
}
.montain{
    /* border:5px solid black; */
    position:absolute;
    bottom: 0px;
    left: 50%;
    translate: -50%;
}

/*Middle-container*/
hr{
    width:25%;
    border: dotted #eaf6f6 10px;
    border-bottom: none;
    margin: 50px auto;;
}
.intro{
    width: 50%;
    margin:auto;
    color:#40514e;
    line-height: 1.5;
}

.skill-row{
    width:50%;
    margin:100px auto;
    text-align: left;
    line-height: 2;
    clear:both;
}
.code-img-l{
    width:25%;
    float:left;
    margin-right: 30px;
    border-radius: 50%;
}
.code-img-r{
    width:25%;
    float: right;
    margin-left: 30px;
}
.skill-description{
    clear: right;
}

/*Contact-me*/
.contact-me{
    width:50%;
    margin:100px auto;
}
.contact-me p{
    width:90%;
    margin:40px auto;
}

 .btn {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: 'Poller One';
    font-size: 40px;
    font-weight: 400;
    padding: 40px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 8px -18px 6px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    transition: all 1s ease-in-out 1s;
    margin: 25px auto;;
 }
 
 .btn:hover {
    border: solid #FFFFFF 1px;
    background: rgba(27, 27, 27, 0.973);
    background-image: -webkit-linear-gradient(top, rgba(42, 118, 245, 0.12), rgba(0, 119, 253, 0.59));
    background-image: -moz-linear-gradient(top, rgba(42, 118, 245, 0.12), rgba(0, 119, 253, 0.59));
    background-image: -ms-linear-gradient(top, rgba(42, 118, 245, 0.12), rgba(0, 119, 253, 0.59));
    background-image: -o-linear-gradient(top, rgba(42, 118, 245, 0.12), rgba(0, 119, 253, 0.59));
    background-image: -webkit-gradient(to bottom, rgba(42, 118, 245, 0.12), rgba(0, 119, 253, 0.59));
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-decoration: none;
    color:red;
 }
.changed{
    font-size: 12px;
    font-size: x-large;
    line-height: 2;
    animation: changed 3s infinite alternate linear;
}

/*Footer*/
.bottom-container{
    text-align: center;
    margin:0 ;
    padding: 50px 0 20px;
    background-color: #66bfbf;
}
.footer-link{
    display: inline-block;
    font-size: 1.5rem;
    color:#11999e;
    line-height: 1.6;
    margin: 10px 25px;
    text-decoration: none;
    width: 10%;
}
.footer-link:hover{
    color:#EAF6F6;
}
.bottom-container p{
    color:#eaf6f6;
    font-size: 9px;
    letter-spacing: 0.6em;
    padding: 10px 0;
}

@media(max-width:750px){
    h1{
        font-size: 40px;
        color:black;
    }
.topCloud{
    opacity: 0.5;
}
.bottomCloud{
    left:10%;
}
.spaceShip{
    opacity: 0.5;
    left:3%;
    top:75px;
}
.contact-me .icon{
    width: 25%;
}
}

@keyframes changed{
    0%{
        background-color: #fff;
        color: #000;
        transform: translate(120px);
    }
    100%{
        background-color: #000;
        color:#fff;
        transform: translate(-120px);
    }
}